body{
    font-family: Helvetica;
}

#myH1{
    display: block;
    text-align: center;
    font-size: 4em;
}

#countLabel{
    display: block;
    text-align: center;
    font-size: 10em;
}

#btnContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.buttons{
    padding: 10px 20px;
    font-size: 1.5em;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s;

}

#decreaseBtn{
    background-color: #d4403a;
}
#decreaseBtn:hover{
    background-color: #a72925;
}

#resetBtn{
    background-color: #20809d;
}
#resetBtn:hover{
    background-color: #196076;
}

#increaseBtn{
    background-color: #3a833a;
}
#increaseBtn:hover{
    background-color: #2c632c;
}
